@font-face {
  font-family: "MaterialIcons";
  src: url(../font/MaterialIconsOutlined-Regular.otf);
}

body {
  font-family: "Montserrat", "MaterialIcons", sans-serif;
  background-color: #fafafa;
}

.container {
  width: 100vw;
  padding: 20px 11px 24px;
  display: grid;
  gap: 20px;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.text-content {
  display: flex;
}

.content-text p {
  color: #4f4f4f;
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
  width: 300px;
}

main {
  width: 100%;
}

.dots::before {
  content: url(../img/svg/6dots.svg);
  margin-right: 12px;
}

.image {
  width: 95%;
  height: auto;
}

.recipe {
  margin-top: 24px;
}

.recipe--title {
  color: #333333;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.recipe--ingredients {
  margin-top: 15px;
}

.recipe--ingredients__subtitle {
  color: #333;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 21px;
}

.ingredients--list {
  margin: 25px 0;
}

.ingredients--list__item {
  color: #333333;
  font-size: 14px;
  line-height: 25px;
  width: 320px;
  display: flex;
  margin-top: 12px;
}

.ingredients--list__item::before {
  content: "\e835";
  margin-right: 14px;
  margin-top: 5px;
  font-size: 25px;
  color: #828282;
}

.checked::before {
  content: "\e834";
}

strong {
  font-weight: 700;
}

.ingredients--list__item-sugestions {
  font-style: italic;
  font-weight: 500;
}

.recipe--instructions {
  margin-top: 15px;
  display: flex;
}

.recipe--instructions__step {
  padding-top: 2px;
  margin-right: 15px;
  width: 36px;
  height: 36px;
  background: #f2994a;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.recipe--instructions__text-content {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  width: 300px;
}

.recipe--source {
  margin-top: 25px;
  color: #bdbdbd;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

footer {
  color: #828282;
  margin: 55px auto 15px;
  font-family: "Montserrat";
  font-size: 14px;
}
